.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/Group Report Latex/ELEN7046 Group Report.out
/Group Report Latex/ELEN7046 Group Report.pdf
/Group Report Latex/ELEN7046 Group Report.synctex.gz
/Group Report Latex/ELEN7046 Group Report.aux
/Group Report Latex/ELEN7046 Group Report.bbl
/Group Report Latex/ELEN7046 Group Report.blg
/Group Report Latex/ELEN7046 Group Report.lof
/Group Report Latex/ELEN7046 Group Report.log
/Group Report Latex/ELEN7046 Group Report.lot
/Group Report Latex/ELEN7046 Group Report.toc
